<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
  <script src="../js/color-modes.js"></script>
  <link rel="stylesheet" href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
  <link rel="shortcut icon" href="../img/ali.png" type="image/x-icon">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.112.5" />
  <title>Edit page</title>

  <link href="../css/bootstrap.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="../css/dark-light.css">

  <!-- Custom styles for this template -->
  <link href="../css/sidebars.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/myStyle.css" />
</head>

<body>
  <%- include('../Componentes/dark&light.ejs') %>
    <main class="d-flex flex-nowrap">
      <%- include('../Componentes/sidebar.ejs' , {courentPage : "edit" }) %>
        <section class="w-100">
          <%- include('../Componentes/navbar.ejs') %>
            <nav class="px-2 mt-4 d-flex flex-wrap justify-content-between" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  <%= user.First_Name +" "+ user.Last_Name %></li>
          </ol>


          <p class=" me-md-5"> <span class="fw-medium fs-6">Id :</span>
                    <%= user._id %>
                      </p>
            </nav>








            <form action="/edit/<%= user._id %>?_method=PUT" method="post" class="mx-0 row gx-3 gy-4 mt-2">
              <div class="col-md-6">
                <label for="inputfirstName4" class="form-label">First Name:</label>
                <input placeholder="<%= user.First_Name %>" type="text" required name="First_Name" class="form-control"
                  id="inputfirstName4" value="<%= user.First_Name %>" />
              </div>
              <div class="col-md-6">
                <label for="inputlastName4" class="form-label">Last Name:</label>
                <input required placeholder="<%= user.Last_Name %>" type="text" class="form-control" name="Last_Name"
                  id="inputlastName4" value="<%= user.Last_Name %>" />
              </div>

              <div class="col-md-6">
                <label for="inputemail4" class="form-label">Email:</label>
                <input required name="Email" placeholder="<%= user.Email %>" type="email" class="form-control"
                  id="inputemail4" value="<%= user.Email %>" />
              </div>
              <div class="col-md-6">
                <label for="inputtele4" class="form-label">Telephone:</label>
                <input required placeholder="<%= user.Telephone %>" type="number" name="Telephone" class="form-control"
                  id="inputtele4" value="<%= user.Telephone %>" />
              </div>

              <div>
                <div class="col-md-6">
                  <label for="inputage4" class="form-label">Age:</label>
                  <input name="Age" required placeholder="<%= user.Age %>" type="number" class="form-control"
                    id="inputage4" value="<%= user.Age %>" />
                </div>
              </div>

              <div>
                <div class="col-md-6">
                  <label for="inputCountry" class="form-label">Country:</label>
                  <select id="inputCountry" class="form-select" name="Country" required>
                    <option selected hidden disabled>choose here...</option>
                    <% const countryList=[ "Afghanistan" , "Albania" , "Algeria" , "American Samoa" , "Andorra"
                      , "Angola" , "Anguilla" , "Antarctica" , "Antigua and Barbuda" , "Argentina" , "Armenia" , "Aruba"
                      , "Australia" , "Austria" , "Azerbaijan" , "Bahamas (the)" , "Bahrain" , "Bangladesh" , "Barbados"
                      , "Belarus" , "Belgium" , "Belize" , "Benin" , "Bermuda" , "Bhutan"
                      , "Bolivia (Plurinational State of)" , "Bonaire, Sint Eustatius and Saba"
                      , "Bosnia and Herzegovina" , "Botswana" , "Bouvet Island" , "Brazil"
                      , "British Indian Ocean Territory (the)" , "Brunei Darussalam" , "Bulgaria" , "Burkina Faso"
                      , "Burundi" , "Cabo Verde" , "Cambodia" , "Cameroon" , "Canada" , "Cayman Islands (the)"
                      , "Central African Republic (the)" , "Chad" , "Chile" , "China" , "Christmas Island"
                      , "Cocos (Keeling) Islands (the)" , "Colombia" , "Comoros (the)"
                      , "Congo (the Democratic Republic of the)" , "Congo (the)" , "Cook Islands (the)" , "Costa Rica"
                      , "Croatia" , "Cuba" , "Curaçao" , "Cyprus" , "Czechia" , "Côte d'Ivoire" , "Denmark" , "Djibouti"
                      , "Dominica" , "Dominican Republic (the)" , "Ecuador" , "Egypt" , "El Salvador"
                      , "Equatorial Guinea" , "Eritrea" , "Estonia" , "Eswatini" , "Ethiopia"
                      , "Falkland Islands (the) [Malvinas]" , "Faroe Islands (the)" , "Fiji" , "Finland" , "France"
                      , "French Guiana" , "French Polynesia" , "French Southern Territories (the)" , "Gabon"
                      , "Gambia (the)" , "Georgia" , "Germany" , "Ghana" , "Gibraltar" , "Greece" , "Greenland"
                      , "Grenada" , "Guadeloupe" , "Guam" , "Guatemala" , "Guernsey" , "Guinea" , "Guinea-Bissau"
                      , "Guyana" , "Haiti" , "Heard Island and McDonald Islands" , "Holy See (the)" , "Honduras"
                      , "Hong Kong" , "Hungary" , "Iceland" , "India" , "Indonesia" , "Iran (Islamic Republic of)"
                      , "Iraq" , "Ireland" , "Isle of Man" , "Israel" , "Italy" , "Jamaica" , "Japan" , "Jersey"
                      , "Jordan" , "Kazakhstan" , "Kenya" , "Kiribati" , "Korea (the Democratic People's Republic of)"
                      , "Korea (the Republic of)" , "Kuwait" , "Kyrgyzstan" , "Lao People's Democratic Republic (the)"
                      , "Latvia" , "Lebanon" , "Lesotho" , "Liberia" , "Libya" , "Liechtenstein" , "Lithuania"
                      , "Luxembourg" , "Macao" , "Madagascar" , "Malawi" , "Malaysia" , "Maldives" , "Mali" , "Malta"
                      , "Marshall Islands (the)" , "Martinique" , "Mauritania" , "Mauritius" , "Mayotte" , "Mexico"
                      , "Micronesia (Federated States of)" , "Moldova (the Republic of)" , "Monaco" , "Mongolia"
                      , "Montenegro" , "Montserrat" , "Morocco" , "Mozambique" , "Myanmar" , "Namibia" , "Nauru"
                      , "Nepal" , "Netherlands (the)" , "New Caledonia" , "New Zealand" , "Nicaragua" , "Niger (the)"
                      , "Nigeria" , "Niue" , "Norfolk Island" , "Northern Mariana Islands (the)" , "Norway" , "Oman"
                      , "Pakistan" , "Palau" , "Palestine, State of" , "Panama" , "Papua New Guinea" , "Paraguay"
                      , "Peru" , "Philippines (the)" , "Pitcairn" , "Poland" , "Portugal" , "Puerto Rico" , "Qatar"
                      , "Republic of North Macedonia" , "Romania" , "Russian Federation (the)" , "Rwanda" , "Réunion"
                      , "Saint Barthélemy" , "Saint Helena, Ascension and Tristan da Cunha" , "Saint Kitts and Nevis"
                      , "Saint Lucia" , "Saint Martin (French part)" , "Saint Pierre and Miquelon"
                      , "Saint Vincent and the Grenadines" , "Samoa" , "San Marino" , "Sao Tome and Principe"
                      , "Saudi Arabia" , "Senegal" , "Serbia" , "Seychelles" , "Sierra Leone" , "Singapore"
                      , "Sint Maarten (Dutch part)" , "Slovakia" , "Slovenia" , "Solomon Islands" , "Somalia"
                      , "South Africa" , "South Georgia and the South Sandwich Islands" , "South Sudan" , "Spain"
                      , "Sri Lanka" , "Sudan (the)" , "Suriname" , "Svalbard and Jan Mayen" , "Sweden" , "Switzerland"
                      , "Syrian Arab Republic" , "Taiwan" , "Tajikistan" , "Tanzania, United Republic of" , "Thailand"
                      , "Timor-Leste" , "Togo" , "Tokelau" , "Tonga" , "Trinidad and Tobago" , "Tunisia" , "Turkey"
                      , "Turkmenistan" , "Turks and Caicos Islands (the)" , "Tuvalu" , "Uganda" , "Ukraine"
                      , "United Arab Emirates (the)" , "United Kingdom of Great Britain and Northern Ireland (the)"
                      , "United States Minor Outlying Islands (the)" , "United States of America (the)" , "Uruguay"
                      , "Uzbekistan" , "Vanuatu" , "Venezuela (Bolivarian Republic of)" , "Viet Nam"
                      , "Virgin Islands (British)" , "Virgin Islands (U.S.)" , "Wallis and Futuna" , "Western Sahara"
                      , "Yemen" , "Zambia" , "Zimbabwe" , "Åland Islands" ]; %>
                      <% countryList.forEach(element=> { %>
                        <option <%=user.Country===element ? "selected" : null %>>
                          <%= element %>
                        </option>
                        <% }) %>
                  </select>
                </div>
              </div>

              <div>
                <div class="col-md-6">
                  <label for="inputGender" class="form-label">Gender:</label>
                  <select id="inputGender" class="form-select" name="Gender" required>
                    <option hidden disabled>choose here...</option>
                    <% ["Male", "Female" ].forEach(gender=> { %>
                      <option value="<%= gender %>" <%=user.Gender===gender ? "selected" : "" %>><%= gender %>
                      </option>
                      <% }) %>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary">
                  Update changes
                </button>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-danger">
                  Delete Customer
                </button>
              </div>
            </form>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Delete Customer
                </h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">Are you sure you want to continue delete the customer?</div>
              <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <form action="/edit/<%= user._id %>?_method=DELETE" method="post" style="display: inline;">
                  <button type="submit" class="btn btn-danger">
                    Delete
                  </button>
                </form>

              </div>
            </div>
          </div>
        </div>
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../js/sidebars.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>